/* usa este fichero para personalizar tus vistas */
#nav-pills .nav-item {
    margin: 5px;
}

#nav-pills .nav-link {
    color: var(--bs-secondary-color);
    border-radius: 30px;
    padding: 2px 4px;
    font-size: 13px;
}

#nav-pills .nav-link:hover {
    color: var(--bs-body-color);
}

#nav-pills .nav-item.active .nav-link {
    color: var(--bs-body-bg);
    background-color: #8A2BE2;
    font-weight: bold;
}

.container-login, 
.container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.form-signin, 
.form-register {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    border-color: transparent;
    background-color: transparent;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-signin .form-label, 
.form-register .form-label {
    font-weight: bold;
}

.btn-login, 
.btn-register {
    width: 100%;
    padding: 10px;
    color: #ffffff;
    border: none;
    background-color: #8A2BE2;
}

.btn-login:hover, 
.btn-register:hover {
    background-color: #5a005a;
}

[data-bs-theme="light"] .form-signin, 
[data-bs-theme="light"] .form-register {
    background-color: #ffffff;
    color: #000000;
}

[data-bs-theme="light"] .btn-login, 
[data-bs-theme="light"] .btn-register {
    background-color: #8A2BE2;
}

[data-bs-theme="light"] .btn-login:hover, 
[data-bs-theme="light"] .btn-register:hover {
    background-color: #5a005a;
}

[data-bs-theme="dark"] .form-signin, 
[data-bs-theme="dark"] .form-register {
    background-color: #2d2d2d;
    color: #ffffff;
}

[data-bs-theme="dark"] .form-signin .form-label, 
[data-bs-theme="dark"] .form-register .form-label {
    color: #ffffff;
}

[data-bs-theme="dark"] .btn-login, 
[data-bs-theme="dark"] .btn-register {
    background-color: #8A2BE2;
}

[data-bs-theme="dark"] .btn-login:hover, 
[data-bs-theme="dark"] .btn-register:hover {
    background-color: #5a005a;
}