<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Login</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav('login')"></header>

    <main class="flex-shrink-0">
        <div class="container-login">
            <form class="form-signin" method="post" th:action="@{/login}">
                <h2 class="form-signin-heading">Inicia sesión</h2>
                <p th:if="${#request.getQueryString() == 'error'}" class="error">
                    Error en nombre de usuario o contraseña
                </p>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su correo" required>
                </div>
    
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña" required>
                </div>
    
                <button type="submit" class="btn btn-login">Iniciar Sesión</button>
            </form>
            <div class = "d-flex flex-grow-0" id="debugUsersBar">
                <form class="d-flex" th:action="@{/login}" method="post">
                    <input type="hidden" name="username" value="Jose Luis">
                    <input type="hidden" name="password" value="aa">
                    <button type="submit" class="btn btn-outline-danger btn-sm">b</button>
                </form>

                <form class="d-flex" th:action="@{/login}" method="post">
                    <input type="hidden" name="username" value="Ramon">
                    <input type="hidden" name="password" value="aa">
                    <button type="submit" class="btn btn-outline-danger btn-sm">a</button>
                </form>

            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>